/* .Paginacija--Link{
    border-radius: 3px;
    background-color: rgba(76, 255, 255, 0.619);

}
.Paginacija--Link Link {
    color:white;
    text-decoration-style: none;

}


.Paginacija--Link Link :hover{
    border-radius: 3px;
    background-color: rgba(78, 186, 186, 0.619);
    color:goldenrod;
    
} */


.zaPagin{
    display: flex;
    flex-wrap: wrap;

}