@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}


ul{
	z-index: 0;

	list-style: none;
}
.footer{
	z-index: 0;


    border-top: 10px ridge  rgb(0, 75, 136);
	background-image:  url("../Screenshot_1.jpg");
    padding: 70px 0;
	margin-top:50px;
}

.footer h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
	z-index: 0;
}
.footer ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer ul li a{
	z-index: 0;

	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #ffffff;
	display: block;
	transition: all 0.3s ease;
}
.footer ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer .social-links a:hover{
	color: #00ff80;
	background-color: #032369;
}


.darken{
	background-color: rgba(5, 5, 68, 0.192);
}